# API Configuration
EXPO_PUBLIC_API_BASE_URL=http://localhost:3000

# Logto Configuration
EXPO_PUBLIC_LOGTO_ENDPOINT=https://your-logto-instance.logto.app
EXPO_PUBLIC_LOGTO_APP_ID=your-app-id

EXPO_PUBLIC_MAPBOX_PUBLIC_TOKEN=xxx
